<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">


	<bean id="sayilarBean" class="com.amine.Sayilar">
		<property name="sayi1" value="10"></property>
		<property name="sayi2" value="15"></property>
		<property name="sayi3" value="5"></property>
		<property name="sayi4" value="25"></property>
		<property name="sayi5" value="20"></property>
	</bean>
	
	
	<bean id="operatorlerBean" class="com.amine.Operatorler">
		<property name="equalTest"
			value="#{sayilarBean.sayi1 == 10}">
		</property>
	</bean>
</beans>
