<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">


	
	<bean id="personel" class="com.amine.Ogrenci">
		<property name="listemiz">
			<util:list list-class="java.util.ArrayList">
				<value>AMİNE YILDIZ</value>
				<value>EMRE AYDIN</value>
				<value>MUHAMMED KASIM</value>
                <value>SARE AYDIN</value>
			</util:list>
		</property>
	</bean>
	<bean id="bean3" class="com.amine.Sehir">
		<property name="mapimiz">
		<util:map map-class="java.util.HashMap">
				<entry  key="YOZGAT" value="11"></entry>
				<entry key="İSTANBUL"  value="2"></entry>
				<entry key="SİVAS" value="23"></entry>
				<entry  key="ANKARA" value="8"></entry>
		</util:map>
		</property>
	</bean>
</beans>
